body {
    margin: 0;
    overflow: hidden;
    background-color: #0a0a0a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.keyboard {
    display: inline-flex;
    flex-direction: column;
    padding: var(--gap);
    background: #141414;
    border: 1px solid rgba(64, 64, 64, 0.2);
}
