body {
	margin: 0;
	overflow: hidden;
	background-color: #0a0a0a;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.keyboard {
	display: inline-flex;
	flex-direction: column;
	padding: var(--gap);
	background: #141414;
	border: 1px solid rgba(64, 64, 64, 0.2);
}

.row {
	display: flex;
}

.row+.row {
	margin-top: var(--gap);
}

.key {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--key-width);
	height: var(--key-width);
	background: #141414;
	border: 1px solid rgba(64, 64, 64, 0.2);
	color: hsl(0, 0%, 85%);
}

.key:hover {
	transform: translate3D(0, 0, 5px);
}

.key:active,
.key[data-selected],
.key:focus,
.key.active {
	transform: translate3D(0, 0, 10px);
}

.key:focus {
	outline: none;
}
.key.equal,
.key.enter {
    color: hsl(120, 80%, 60%);
}

.key.c {
    color: hsl(0, 80%, 60%);
}

.key.divide {
    color: hsl(270, 80%, 60%);
}

.key.multiply {
    color: hsl(50, 80%, 60%);
}

.key.subtract {
    color: hsl(210, 80%, 60%);
}

.key.add {
    color: hsl(25, 80%, 60%);
}

.key + .key {
    margin-left: var(--gap);
}

.key:before {
    display: block;
    content: attr(data-code);
}

.key.stretch {
    padding: 0 25px;
}

.key.stretch:before {
    width: 100%;
}

.key.empty:before {
    display: none;
}
